
<!-- Main Sidebar Container -->
 {%load static%}
<aside class="main-sidebar sidebar-light-pink elevation-4">
  <!-- Brand Logo -->
  <div class="logo text-center">
    <a href="#" class="simple-text logo-normal">
      <div class="logo-image-big">
        <img src="/static/images/logo.png">
      </div>
    </a>
  </div>
  <br>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- SidebarSearch Form -->
    <div class="form-inline">
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      {% include 'includes/menu-list.html' %}
    </nav>
    
    
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>